*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 100%;
}

body{
    background-color: #292828;
    color: rgb(230, 227, 227)
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 80%;
    margin: auto;

    @media screen and (max-width: 1024px)  {
       max-width: 95%;
    }
}

.btn{
    padding: .5rem 2rem;
    cursor: pointer;
    background-color: #292828;
    border: none;
    color: white;
}

.text{
    color: rgb(233, 219, 219);
}

section{
    margin: 5rem 0;
}

.blue{
    color: rgb(100, 165, 250);
    font-weight: 600;
}

/* NAVBAR */

.header{
    @media screen and (max-width: 768px)  {
        nav{
            flex-direction: column;
        }
     }

    background: #505050;
    box-shadow: 0px 4px 4px rgba(109, 101, 101, 0.25);

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }

    &__left{
        display: flex;
        align-items: center;

        h3{
            color: rgb(230, 227, 227);
        }

        .nav-list{
            display: flex;
            margin-left: 4rem;
    
            li{
                margin-left: 2rem;
            }
    
            a{
                color: rgb(230, 227, 227);
    
                &:hover{
                    color: rgb(134, 187, 255);  
                    transition: color 0.3s ease-in-out;
                }
            }
        } 
    }

    &__right{
        display: flex;

        input{
            padding: .5rem;
            background: rgb(230, 227, 227);
            border: none;
            color: black;
            margin-right: 2rem;
        }

        button{
            &:hover{
                color: rgb(134, 187, 255);
                transition: color 0.3s ease-in-out;
            }
        }
    }
}


@media screen and (max-width: 768px)  {
    .header__right{
        margin-top: 1.5rem;
        flex-direction: column;

        input{
            margin-bottom: 1rem;
            margin-right: 0rem;
        }
    }
}

/* LIST */
.list{
    h1{
        margin-bottom: 2rem;
        color: rgb(134, 187, 255);
    }

    .topRated-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    img{
        cursor: pointer;
        width: 100%;
    }

    .card-bottom{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: rgb(14, 91, 180);
        padding: 1.5rem;
        margin-top: -7px;
    }

    .img-people{
        height: 40vh;
        object-fit: cover;
    }

    @media screen and (max-width: 1300px)  {
        .topRated-list{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: 768px)  {
        .topRated-list{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}


// SINGLE 
.single{
    h1{
        text-align: center;
        padding-bottom: 3rem;
    }

    .row{
        display: flex;
        align-items: center;

        @media screen and (max-width: 1200px)  {
            flex-direction: column;
        }
    }

    .single-content{
        width: 100%;
        margin-left: 5rem;

        @media screen and (max-width: 1200px)  {
            text-align: center;
            margin-left: 0rem;
            margin-top: 2rem;
        }

        h2{
            color: rgb(134, 187, 255);
            padding-bottom: 1rem;
        }

        .top-content{
            display: flex;
            width: 100%;
            justify-content: space-between;

            @media screen and (max-width: 1500px)  {
                flex-direction: column;

                p{
                    padding: 1rem 0;
                }
            }
        }

        .text{
            margin: 2rem 0;
            width: 80%;

            @media screen and (max-width: 1300px)  {
                width: 100%;
            }
        }

        .cta{
            a{
                background-color: rgb(2, 76, 173);
            }
        }
    }
}

footer{
    background-color: rgb(34, 34, 34);
    padding: 2rem;
    text-align: center;
}